<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="JBK_Customer_Mangagement_System">

	<listeners>
		<listener class-name="com.listeners.ListenerUtility"></listener>
	</listeners>

	<test name="Offline_Course Site Test">
		<parameter name="browser" value="chrome"></parameter>

		<classes>
	  	<class name="com.testcases.TC_LoginTest_01" /> 
			<class name="com.testcases.TC_AddUserTest_02" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
